@import url("https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;600;700&family=Playfair+Display:wght@700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

//
// Custom styles
//

@layer components {
    .rounded-full {
        border-radius: 9999px;
    }

    .nav-link {
        transition: width 1s ease;
        &:after {
            display: block;
            content: attr(title);
            font-weight: bold;
            height: 1px;
            color: transparent;
            overflow: hidden;
            visibility: hidden;
        }
    }

    .nav-border {
        &:before {
            content: "";
            width: 5px;
            height: 2px;
            display: block;
            position: absolute;
            left: -2px;
            bottom: 0;
            z-index: 100;
            background: transparent;
            transition: width 0.2s ease-in;
        }
        &:hover {
            &:before {
                content: "";
                width: 21px;
                height: 2px;
                background: #fdc021;
            }
        }
    }
    .swiper-work-next.swiper-button-disabled,
    .swiper-work-prev.swiper-button-disabled,
    .swiper-business-next.swiper-button-disabled,
    .swiper-business-prev.swiper-button-disabled {
        opacity: 0.3;
    }
}
